@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Turret+Road:wght@200;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

/* projects.css */

/* Mobile styles */
@media screen and (max-width: 640px) {
	.mySwiper {
		width: 100%;
	}

	.swiper-slide {
		padding: 20px;
	}
}
